body {
  margin: 15px;
  font-size: 18px;
  font-family: Verdana;
  background-color: #fffbdb;
}

#backgroundTopLayerBox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height:120px;
	background-color: #373131;
	z-index:-5;
}

#topBox{
	position: absolute;
	top: 0px;
	width: 1000px;
	height: 120px;
	left: 50%;
	margin-left:-500px;
	background-color: transparent;

}


#leftTopBox{
	position: absolute;
	left: 0;
	height: 100%;
	width: 250px;
	background-color: green;


}
#rightTopBox{
	position: absolute;
	right: 0;
	height: 100%;
	text-align: center;
	width: 250px;
	background-color: yellow;

}
#centerTopBox{
	position: absolute;
	left: 260px;
	right: 260px;
	height: 100%;
	/* width: 250px; */
	background-color: lime;

}



#centerWholeBox{
	position: absolute;
	width: 1000px;
	margin-top: 2px;
	top: 120px;
	left: 50%;
	margin-left: -500px;
	background-color: transparent;
}

#leftCenterBox{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	height: auto;
	width: 120px;
	background-color: white;
	border: 1px solid #ff7b0f;
	border-radius: 20px;
}

#rightCenterBox{
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	height: auto;
	width: 120px;
	background-color: white;
	border: 1px solid #ff7b0f;
	border-radius: 20px;

}

#contentCenterBox{
	position: absolute;
	text-align: center;
	left: 130px;
	right: 130px;
	background-color: white;
	border: 3px solid #ff7b0f;
	border-radius: 25px;

}

#contentLoginInstance{
	position: absolute;
	text-align: left;
	left: 130px;
	right: 130px;
	background-color: transparent;
	border: 3px solid #ff7b0f;
	border-radius: 25px;
	z-index: -1;

}

#BoxOfGod{
    position: absolute;
    left: 0;
    top: 40%;
    height: auto;
    width: 170px;
    background-color: red;
    border: 2px solid #ff7b0f;
    z-index: 2;

}
